@import "tailwindcss";

body {
  @apply bg-slate-950 text-white min-h-screen;
  margin: 0;
  font-family: sans-serif;
  background-color: #020617; /* Garante o fundo escuro caso o Tailwind demore a carregar */
}

/* Animação para o Popup de Confirmação */
@keyframes toast-in {
  0% {
    transform: translateY(20px) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-toast {
  animation: toast-in 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}
